# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints and outputs
.ipynb_checkpoints/
*.ipynb
*.csv
*.tsv
*.xlsx
*.xls
*.html
*.pdf

# Logs and database files
*.log
*.sql
*.sqlite
*.db
mlruns/
mlartifacts/
wandb/
output/
saved_models/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Docker
*.env
*.dockerfile
docker-compose.override.yml
