# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Data and model outputs
data/
output/
saved_models/
mlruns/
mlartifacts/
wandb/

# Logs and temp files
*.log
*.tmp

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
