name: CI

on:
  push:
    branches: [ main, task-1 ]
  pull_request:
    branches: [ main, task-1 ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Upgrade pip
      run: python -m pip install --upgrade pip

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Lint code
      run: flake8 src tests

    - name: Run tests
      run: pytest
